.navbar {
	margin: 3rem;
}

.navbar-brand {
	float: left;
}

nav div ul li {
	float: right;
}

.title {
	padding: 3rem;
}

.info {
	padding: 3rem;
	background-color: silver;
}

img[alt*="rattlesnake"] {
	width: 100%;
	margin-top: 2rem;
}

.col-9 {
	padding-left: 10rem;
}

.card-deck {
	margin: 2rem auto;
}

.card {
	width: 12rem
}

.footer {
	padding: 2rem;
}