.navbar {
	margin: 3rem;
}

.title {
	padding: 3rem;
}

.info {
	background-color: silver;
}
img[alt*="rattlesnake"] {
	width: 80%;
	margin-top: 1rem;
}

.card-deck {
	margin: 2rem auto;
}

.footer {
	padding: 2rem;
}